# local data
uploads/*
static/*
development.db

# local config
config/local_settings.py
config/ssl/*
config/flags/*

# setuptools
runamiclimb.egg-info/*
dist/*
build/*
env/*

# development
scripts/sandbox.py
*.pyc
