<!doctype html>
<html lang="en">
<html>

  <head>
    <meta charset="utf-8">
    <title>Trainless</title>

    {##### BOOTSWATCH STYLE #####}
    <link rel="stylesheet" href="/static/bootswatch/{{ settings.BOOTSWATCH_THEME }}/bootstrap.css" media="screen">
    <link rel="stylesheet" href="/static/bootswatch/assets/css/bootswatch.min.css">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="/static/bootswatch/bower_components/html5shiv/dist/html5shiv.js"></script>
      <script src="/static/bootswatch/bower_components/respond/dest/respond.min.js"></script>
    <![endif]-->

    {##### PAGEDOWN BOOTSTRAP #####}
    <link href="/static/Font-Awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="/static/pagedown-bootstrap/css/jquery.pagedown-bootstrap.css" rel="stylesheet">

  </head>

  <body>
    <div class="container">
      <a href="/"><h1>TRAINLESS</h1></a>
    </div>

    <div class="container">
      {% include "article/categories.html" %}
    </div>

    <p></p>

    <div class="container">
      <div class="row">

        <div class="col-sm-9">
          {% block content %}
          {% endblock %}
        </div>

        <div class="col-sm-3">

          {# SUBMIT ARTICLE #}
          <div class="list-group">
            <a href="/article/submit.html" class="list-group-item">Submit</a>
          </div>

          <hr>

          {% include "article/issues.html" %}

        </div>
      </div>
    </div>

    {% include "article/footer.html" %}

    {##### JQUERY SCRIPT #####}
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>

    {##### BOOTSWATCH SCRIPT #####}
    <script src="/static/bootswatch/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/static/bootswatch/assets/js/bootswatch.js"></script>

    {##### PAGEDOWN BOOTSTRAP SCRIPT #####}
    <script type="text/javascript" src="/static/pagedown-bootstrap/js/jquery.pagedown-bootstrap.combined.min.js"></script>
    <script type="text/javascript">
      (function () {
        $("textarea.pagedownBootstrap").pagedownBootstrap();
      })();
    </script>

  </body>

</html>
