{% extends "base.html" %}
{% load common_tags %}

{% block content %}

    <h1>{{ article.title }}</h1>
    <p>
      {{ article.author }} <br>
      {{ article.issue }}
    </p>

    <p> <hr> </p>

    <div class="article_display">
      <p> {{ article.content|render_markdown }} </p>
    </div>

    <hr>

    <div class="coverletter_display">
      <p> {{ article.coverletter|render_markdown }} </p>
    </div>

    <hr>

    <div class="row">
      <div class="col-sm-6">

        {# COMMENTS #}
        {% with article.comments.all as comments %}
          {% include "comment/comments.html" %}
        {% endwith %}

        {% with comment_form as generic_form %}
          {% include "common/generic_form.html" %}
        {% endwith %}

      </div>
      <div class="col-sm-6">

        {# SUPPORT #}
        {% with support_form as generic_form %}
          {% include "common/generic_form.html" %}
        {% endwith %}

      </div>
    </div>

    {# TODO action area #}
    <p>
      {% if user.is_superuser %}
        <a href="{{ article.url_edit }}" class="btn btn-primary">Edit</a>
      {% endif %}
    </p>

{% endblock %} 
