{% extends "base.html" %}
{% load article_tags %}

{% block content %}

    <h1>{{ article.title }}</h1>
    <p>
      {{ article.author }} <br>
      {{ article.issue }}
    </p>

    <p> <hr> </p>

    <div class="article_display">
      <p> {{ article.content|render_markdown }} </p>
    </div>

    <hr>

    <div class="coverletter_display">
      <p> {{ article.coverletter|render_markdown }} </p>
    </div>

    <div>
      {% include "site/form.html" %}
    </div>

    <p>
      {% if user.is_superuser %}
        <a href="{{ article.url_edit }}" class="btn btn-primary">Edit</a>
      {% endif %}
    </p>

{% endblock %} 
