{% extends "base.html" %}

{% block content %}
  {% if left_articles or right_articles %}
    <div class="row">
      <div class="col-sm-6">
        {% for article in left_articles %}
          {% include "article/preview.html" %}
        {% endfor %}
      </div>
      <div class="col-sm-6">
        {% for article in right_articles %}
          {% include "article/preview.html" %}
        {% endfor %}
      </div>
    </div>
  {% else %}
    Currently no articles available for this issue/category.
  {% endif %}
{% endblock %}
