{% load common_tags %}

<div class="panel panel-default panel-body article_display">

  <a href="#" data-toggle="modal" data-target="#galleryModal"
     data-local="#galleryCarousel">
    <h3>{{ photo.title }}</h3>
  </a>

  <p>
    <a href="#" data-toggle="modal" data-target="#galleryModal"
       data-local="#galleryCarousel">
      <img src="{{ photo.get_display_url }}" alt="{{ photo.title }}">
    </a>
    {{ photo.caption }}
  </p>

  <p>
    <a href="#" data-toggle="modal" data-target="#galleryModal"
       data-local="#galleryCarousel">
      <b>Slide show</b>
    </a>
  </p>

</div>

