{% load article_tags %}

<div class="panel panel-default panel-body">

  <a href="{{article.url}}"><h3>{{ article.title }}</h3></a>

  <p> 
    {% if article.gallery and article.gallery.photos.first %}
      {% with article.gallery.photos.first as photo %}
        <img src="{{ photo.get_thumbnail_url }}"
             class="preview_photo" 
             alt="{{ photo.title }}" align="left">
      {% endwith %}
    {% endif %}

    {{ article.preview|render_markdown }} 
  </p>

  <p><a href="{{article.url}}"><b>Read full article</b></a></p>

</div>
