<div class="panel panel-default">
  <div class="panel-heading">
    <i class="fa fa-comment"></i>
    {{ comment.alias }}
    <div class="pull-right">
      {{ comment.created|timesince }} ago
      {% if user.is_superuser and not disable_comment_delete %}
        {% with url=comment.url_delete|add:"?next="|add:request.path %}      
          <a href="{{ url }}"><i class="fa fa-times"></i></a>
        {% endwith %}   
      {% endif %}
    </div>
  </div>
  <div class="panel-body">
    {{ comment.content }}
  </div>
</div>
