
/***** Global *****/

body {
  padding-top: 0px;
}

/***** text formatting *****/
.fontsize_xxl { font-size: xx-large; }
.fontsize_xl { font-size: x-large; }
.text_center { text-align: center; }
.text_right { text-align: right; }
.text_left { text-align: left; }

/***** Titlebar *****/

.titlebar_title {
}

.titlebar_logo {
  background-image: url(/static/anja-logo.png);
  background-repeat: no-repeat;
  margin-top: 20px;
  width: 43px;
  height: 57px;
  float: left;
}

.titlebar_title h1 {
  font-size: 55px;
  margin-left: 50px;
}

.titlebar_photo {
  height: 100%;
  background-position: top;
  background-repeat: no-repeat;
}


/***** Article Preview *****/

.article_preview {
}

.article_preview img {
  float: left;
  margin-right: 5px;
  margin-top: 5px;
}


/***** Article Display *****/

.article_display {
}

.article_display img {
  width: 100%;
}


/***** Coverletter Display *****/

.coverletter_display {
}

.coverletter_display img {
  margin-right: 5px;
  margin-top: 5px;
}

/***** Fullscreen Modals *****/

.modal-dialog {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.modal-content {
  height: 100%;
  border-radius: 0;
}

