<!doctype html>
<html lang="en">
<html>

  <head>
    <title>Trainless</title>
    <!-- Using the latest rendering mode for IE -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="image/x-icon" rel="icon" href="/static/favicon.png">
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta name="Copyright" content="Kristyn Bacon 2014" />
    <meta name="description" content="Long nights and long days, Tired legs and unwashed hands, Mountains and deserts and dangerous people, And where you go when you're trainless." /> 

    {##### BOOTSWATCH STYLE #####}
    <link rel="stylesheet" href="/static/bootswatch/{{ settings.BOOTSWATCH_THEME }}/bootstrap.css" media="screen">
    <link rel="stylesheet" href="/static/bootswatch/assets/css/bootswatch.min.css">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="/static/bootswatch/bower_components/html5shiv/dist/html5shiv.js"></script>
      <script src="/static/bootswatch/bower_components/respond/dest/respond.min.js"></script>
    <![endif]-->

    {##### PAGEDOWN BOOTSTRAP #####}
    <link href="/static/Font-Awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="/static/pagedown-bootstrap/css/jquery.pagedown-bootstrap.css" rel="stylesheet">

    {##### ARTICLE STYLE #####}
    <link href="/static/article/style.css" rel="stylesheet">
  </head>

  <body>
    {% include "site/titlebar.html" %}

    <div class="container">
      <div class="row">

        <div class="col-sm-9">
          {% block content %}
          {% endblock %}
        </div>

        <div class="col-sm-3">
          {% include "site/sidebar.html" %}
        </div>
      </div>
    </div>

    {% include "site/footer.html" %}

    {##### JQUERY SCRIPT #####}
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>

    {##### BOOTSWATCH SCRIPT #####}
    <script src="/static/bootswatch/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/static/bootswatch/assets/js/bootswatch.js"></script>

    {##### PAGEDOWN BOOTSTRAP SCRIPT #####}
    <script type="text/javascript" src="/static/pagedown-bootstrap/js/jquery.pagedown-bootstrap.combined.min.js"></script>
    <script type="text/javascript">
      (function () {
        $("textarea.pagedownBootstrap").pagedownBootstrap();
      })();
    </script>

  </body>

</html>
