{% if currentissue %}
  {% if currentissue.pdf %}
    <a class="btn btn-success" href="{{ currentissue.pdf.url }}">
      Full issue as PDF
    </a>
    <a class="btn btn-primary" href="/issue/{{currentissue.year}}-{{currentissue.month}}/category/featured/">
      Featured articles
    </a>
  {% else %}
    {% if not currentcategory %}
      <a class="btn btn-primary" href="/issue/{{currentissue.year}}-{{currentissue.month}}/category/featured/">
        Featured
      </a>
    {% else %}
      <a class="btn btn-link" href="/issue/{{currentissue.year}}-{{currentissue.month}}/category/featured/">
        Featured
      </a>
    {% endif %}
    {% for category in categories %}
      {% if category == currentcategory %}
        <a class="btn btn-primary" href="/issue/{{currentissue.year}}-{{currentissue.month}}/category/{{category.slug}}/">
          {{category.title}}
        </a>
      {% else %}
        <a class="btn btn-link" href="/issue/{{currentissue.year}}-{{currentissue.month}}/category/{{category.slug}}/">
          {{category.title}}
        </a>
      {% endif %}
    {% endfor %}
  {% endif %}
{% endif %}

