{% if not currentcategory %}
  <a class="btn btn-primary" href="/category/featured/">
    Home
  </a>
{% else %}
  <a class="btn btn-link" href="/category/featured/">
    Home
  </a>
{% endif %}
{% for category in categories %}
  {% if category == currentcategory %}
    <a class="btn btn-primary" href="/category/{{category.slug}}/">
      {{category.title}}
    </a>
  {% else %}
    <a class="btn btn-link" href="/category/{{category.slug}}/">
      {{category.title}}
    </a>
  {% endif %}
{% endfor %}
