{% load bootstrap %}
{% load common_tags %}

<div class="well">

  <form method="POST" class="form" role="form"
        action="{{ request.get_full_path }}">

    {% csrf_token %}

    <fieldset>

      {##### TITLE #####}
      {% if generic_form.title %}
        <legend>{{ generic_form.title }}</legend>
      {% endif %}

      {##### INFO #####}
      {% if generic_form.markdown_info %}
        <div class="alert alert-dismissable alert-info">
          <button type="button" class="close" data-dismiss="alert">×</button>
          {{ generic_form.markdown_info|render_markdown }}
        </div>
      {% endif %}

      {##### RENDER FORM #####}
      {% if generic_form.form %}
        {{ generic_form.form|bootstrap }}
      {% endif %}

      {##### CANCEL AND SUBMIT BUTTONS #####}
      <div class="form-group">
        {% if generic_form.cancel_url %}
          <button type="button" class="btn btn-default"
                  onclick="window.location.href = '{{ generic_form.cancel_url }}';">
            Cancel
          </button>
        {% endif %}
        <button type="submit"
          {% if generic_form.submit_class %}
                class="{{ generic_form.submit_class }}"
          {% else %}
                class="btn btn-primary"
          {% endif %}
        >
          {% if generic_form.submit_label %}
            {{ generic_form.submit_label }}
          {% else %}
            Submit
          {% endif %}
        </button>
      </div>

    </fieldset>
  </form>

</div>
