
<div class="list-group">
  <a href="/article/submit" class="list-group-item">Submissions</a>
  <a href="/page/subscribe.html" class="list-group-item">Subscribe</a>
  {% for page in sidebar_pages %}
    <a href="{{ page.url }}" class="list-group-item">{{ page.title }}</a>
  {% endfor %}
  <a href="/archive.html" class="list-group-item">Archive</a>
  {% if user.is_superuser %}
    <a href="/page/create.html" class="list-group-item">Create page</a>
  {% endif %}
</div>

<hr>

{# LINKS #}
<div class="list-group text_center">

  <div class="fb-like-box" data-href="https://www.facebook.com/pages/Trainless-Magazine/891585294193215?fref=nf" data-width="250" data-colorscheme="light" data-show-faces="false" data-header="true" data-stream="false" data-show-border="true"></div>

  <a href="https://twitter.com/Trainlessmag" class="twitter-follow-button" data-show-count="false">Follow @Trainlessmag</a>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

</div>

