
{# SUBMIT ARTICLE #}
<div class="list-group">
  <a href="/article/submit.html" class="list-group-item">Submit</a>
  {% for page in sidebar_pages %}
    <a href="{{ page.url }}" class="list-group-item">{{ page.title }}</a>
  {% endfor %}
  {% if user.is_superuser %}
    <a href="/page/create.html" class="list-group-item">Create page</a>
  {% endif %}
</div>

<hr>

{# ISSUES #}
{% include "common/issues.html" %}

{# SLOGAN #}
<b>
 <i>
    <p>Long nights and long days,</p>
    <p>Tired legs and unwashed hands,</p>
    <p>Mountains and deserts and dangerous people,</p>
    <p>And where you go when you're trainless.</p>
  </i>
</b>
