
/***** Global *****/

body {
  padding-top: 0px;
}


/***** Titlebar *****/

.titlebar_title {
}

.titlebar_logo {
  background-image: url(/static/anja-logo.png);
  background-repeat: no-repeat;
  margin-top: 20px;
  width: 43px;
  height: 57px;
  float: left;
}

.titlebar_title h1 {
  font-size: 55px;
  margin-left: 50px;
}

.titlebar_photo {
  height: 100%;
  background-position: top;
  background-repeat: no-repeat;
}


/***** Article Preview *****/

.article_preview {
}

.article_preview img {
  float: left;
  margin-right: 5px;
  margin-top: 5px;
}


/***** Article Display *****/

.article_display {
}

.article_display img {
  width: 100%;
}


