
.preview_photo {
  margin-right: 5px;
  margin-top: 5px;
}

.titlebar_photo {
  height: 100%; 
  background-position: top;
  background-repeat: no-repeat;
  /*background-size: 100% auto;*/
}

body {
  padding-top: 0px;
}

